@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

.blog {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #EBEEF3;
}

.blog__main {
  max-width: 938px;
  margin: 26px auto 0;
  padding-bottom: 20px;
}
